/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Jimmy Torres
   Date: 12/5/19  

   Filename: sb_validate.css

*/


/* Validation Styles */

input:not([type='radio']):focus{
   background-color: rgb(255, 218, 165);
}

input:not([type='radio']):focus:valid{
   background: url(sb_valid.png) right no-repeat rgb(215, 255, 215);
}

input:not([type='radio']):focus:invalid{
   background: url(sb_invalid.png) right no-repeat rgb(255, 245, 215);
}
